.createPost{
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    .right{
        flex-grow: 1;
        input{
            
        }
    }
}